/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
//@import "bootstrap-sprockets";
//@import "bootstrap";

#main-container {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.devise-container {
  width: 345px;
  padding-left: 15px;
}

.product-block {
  width: 750px;
}

.btn {
  text-decoration: none;
}

body {
  background: #f2f2f2;
}

th {
  background-color: #333333;
  color: white;
}

td {
  background-color: #808080;
  color: white;
}

nav {
  background-color: darkgreen;
  color: white;
  line-height: 3em;
}

nav a {
  color: orange;
}

nav div {
  float: left;
}

nav li {
  display: block;
  padding-left: 0.25em;
  transition-duration: 0.5s;
}

nav li:hover {
  cursor: pointer;
}

nav ul li ul {
  display: none;
  left: 0;
  opacity: 0;
//  position: absolute;
  transition: all 0.5s ease;
  visibility: hidden;
}

nav ul li:hover > ul, nav ul li ul:hover {
  display: block;
  opacity: 1;
  visibility: visible;
}

nav ul li ul li {
  background-color: green;
  clear: both;
  width: 99%;
}
