/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//@import "bootstrap-sprockets";
//@import "bootstrap";

@font-face {
  font-family: 'Paprika';
  src: url('/fonts/Paprika-Regular.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

$bg: #fbeec1;
$bg-l: #fdf5d9;
$menu-bg: #daad86;
$menu-bg-h: #bc986a;
$text-color: #294c5f;
$text-color-l: #659dbd;
$h-color: #8d8741;

body {
  background-color: $bg;
  background-image: url("/images/plasma-texture.png");
  color: $text-color;
  font-family: 'Roboto', Sans-Serif;
}

h1,h2,h3,h4,h5,h6 {
  color: $h-color;
  font-family: Paprika;
  font-weight: bold;
  text-align: center;
}

h1 {
  letter-spacing: -0.05em;
  word-spacing: -0.04em;
}

h2 {
  letter-spacing: -0.03em;
  word-spacing: -0.02em;
}

input[type=submit] {
  background-color: transparent;
  border-radius: 1em;
  color: $text-color;
  font-weight: bold;
  line-height: 2em;
}

table {
  width: 100%;
}

table th {
  background-color: $text-color;
  color: $bg;
}

table td {
  background-color: $menu-bg;
}

table td a {
  color: $text-color;
  text-decoration: none;
}

#main-container {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.devise-container {
  width: 345px;
  padding-left: 15px;
}

.product-block {
  width: 750px;
}

.btn {
  text-decoration: none;
}

nav {
  background-color: $menu-bg;
  line-height: 3em;
  margin: 0;
}

nav a {
  color: $h-color;
  display: block;
  font-size: 20px;
  padding: 0 10px;
  text-decoration: none;
}

nav a:hover {
  color: $menu-bg-h;
}

nav div {
  float: left;
}

nav .dropdown {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition-duration: 0.5s;
}

nav .avatar {
  float: right;
}

nav .dropdown:hover {
  cursor: pointer;
}

nav ul .dropdown .dropdown-menu {
  display: none;
  left: -1.5em;
  list-style: none;
  opacity: 0;
  position: absolute;
  top: 3em;
  transition: all 0.5s ease;
  visibility: hidden;
}

nav ul .dropdown:hover > .dropdown-menu,
nav ul .dropdown .dropdown-menu:hover {
  display: inline-block;
  opacity: 1;
  visibility: visible;
}

nav ul .dropdown .dropdown-menu li {
  background-color: $menu-bg;
  clear: both;
  display: list-item;
  float: none;
  width: 10em;
}

.logo {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0.25em;
}

.main-logo {
  margin-left: 33%;
  width: 33%;
}

.main-panel {
  margin-left: 25%;
  width: 50%;
}

.left-column {
  float: left;
  width: 49%;
}

.right-column {
  float: right;
  width: 49%;
}

.after-column {
  clear: both;
}

.msg-paragraph {
  border: 1px solid $text-color-l;
  border-radius: 2em;
  display: table;
  margin-bottom: 1em;
  width: 100%;
}

.msg-new-paragraph {
  border-color: $menu-bg;
  border-radius: 2em;
  border-style: solid dotted;
  border-width: 0.75em;
  display: table;
  margin-bottom: 1em;
  width: 100%;
}

.msg-par-text {
  display: table-cell;
  height: 100%;
  padding: 1em;
  vertical-align: middle;
  width: calc(100% - 100px);
}

.msg-par-avatar {
  border-left: 1px solid $text-color-l;
  display: table-cell;
  height: 100%;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  width: 100px;
}

.avatar-column {
  background: $bg;
  border: 2px solid $menu-bg;
  text-align: center;
  vertical-align: middle;
}

.button-column {
  border: 2px solid $menu-bg-h;
  border-radius: 0.5em;
  text-align: center;
}

.button-column:hover {
  background: $menu-bg-h;
  border: 2px solid $menu-bg;
  border-radius: 0.75em;
  text-align: center;
}

.id-time {
  font-size: x-small;
  font-weight: light;
}

.punctuation-button {
  background-color: $text-color;
  border: 2px solid $text-color-l;
  border-radius: 0.5em;
  color: $bg;
  display: inline-block;
  font-weight: bold;
  margin-left: 0.1em;
  margin-right: 0.1em;
  padding-bottom: 0;
  text-align: center;
  text-decoration: none;
  min-width: 1em;
}

.toggled-punctuation-button {
  background-color: $text-color-l;
  border: 2px solid $text-color;
  border-radius: 0.5em;
  color: $text-color;
  display: inline-block;
  font-weight: bold;
  margin-left: 0.1em;
  margin-right: 0.1em;
  padding-bottom: 0.5em;
  text-align: center;
  text-decoration: none;
  min-width: 1em;
}

.punctuation-button a {
  color: $bg;
  text-decoration: none;
}

.reply-form {
  border: 1px solid $text-color;
  border-radius: 1em;
  display: none;
  padding: 0.25em;
  text-align: center;
  width: 100%;
}

.reply-form textarea {
  background-color: $bg-l;
  color: $text-color;
}

.reply-form button {
  background-color: $text-color;
  border-radius: 1em;
  color: $bg;
  font-size: 0.8em;
  font-weight: bold;
  height: 2.5em;
}
